.clients {
    background: #E6F6EA;
    box-shadow: -77.4000015258789px 77.4000015258789px 77.4000015258789px 0px rgba(255, 255, 255, 0.10) inset, 77.4000015258789px -77.4000015258789px 77.4000015258789px 0px rgba(175, 187, 178, 0.10) inset;
    backdrop-filter: blur(36.37799835205078px);
}

.clients-container {
    // position: relative;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    max-width: 375px;
    height: 585px;
    width: 100%;
    padding: 50px 20px 50px 20px;
    gap: 40px;
    align-items: center;

}

.clients__text {
    text-align: center;
    font-family: Nunito;
    font-style: normal;

    h2 {
        color: #000;
        /* Mobile Font / H1 / Bold */
        font-size: 28px;
        font-weight: 700;
        line-height: normal;
        padding-bottom: 15px;
    }

    p {
        color: $paragraph-color;
        /* Mobile Font/H6/Regular */
        font-size: 14px;
        font-weight: 400;
        line-height: 22px;
    }
}

.clients__card {
    width: 345px;
    height: 430px;
    padding: 20px;
    background-color: white;
    // display: flex;
    // flex-direction: column;
    // justify-content: space-between;
    // gap: 30px;
    box-shadow: 2px 11px 30px 0px rgba(51, 51, 51, 0.08);
}

.clients__card-photo {
    width: 135px;
    height: 183px;
    position: relative;
}

.clients_photo-place {
    position: absolute;
    bottom: 0;
    content: "";
    width: 135px;
    height: 127px;
    border-radius: 30px;
    background: linear-gradient(1deg, #00730C 0.01%, rgba(251, 246, 238, 0.00) 98.84%);
}

.client1 {
    position: absolute;
    bottom: 0;
    content: "";
    width: 100%;
    height: 199px;
    background-repeat: no-repeat;
    background-image: url(images/client1.jpg);
    background-size: 135px 199px;
}

.client1-mask {
    position: absolute;
    bottom: 0;
    content: "";
    width: 100%;
    height: 127px;
    background-repeat: no-repeat;
    background-image: url(images/client1-mask.svg);
    background-size: 135px 127px;
}

.client2 {
    position: absolute;
    bottom: 0;
    content: "";
    width: 100%;
    height: 186px;
    background-repeat: no-repeat;
    background-image: url(images/client2.jpg);
    background-size: 135px 195px;
}

.client2-mask {
    position: absolute;
    bottom: 0;
    content: "";
    width: 100%;
    height: 120px;
    background-repeat: no-repeat;
    background-image: url(images/client2-mask.svg);
    background-size: 135px 127px;
}

.clients__card-content {
    width: 305px;
    height: 178px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.clients__card-text {
    color: #676767;

    /* Mobile Font/H6/Regular */
    font-family: Nunito;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    padding: 10px 0;
    background-image: url(images/quotation-marks-mob.svg);
    background-repeat: no-repeat;
}

.sign {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.clients-rating {
    display: flex;
    flex-direction: row;
    gap: 10px;

    span {
        content: "";
        width: 20px;
        height: 20px;
        background-image: url(images/star.svg);
        background-size: 20px 20px;
        background-repeat: no-repeat;
    }
}

.clients__card-name {
    line-height: 22px;

    h4 {
        /* Mobile Font / H4 / Bold */
        font-size: 16px;
        font-weight: 700;
        text-transform: capitalize;
    }

    p {
        /* Mobile Font/H6/Regular */
        font-size: 12px;
        font-weight: 400;
    }
}

.clients__cards.slick-initialized.slick-slider {
    position: relative;
    width: 375px;
}



// =============== web =================
@media (min-width:1410px) {
    .clients-container {
        max-width: 1410px;
        padding: 100px 0;
        align-items: flex-start;
    }

    .clients__text {
        text-align: left;
        width: 956px;

        h2 {
            font-size: 45px;
            font-weight: 800;
        }

        p {
            font-size: 18px;
            font-weight: 400;
            line-height: 30px;
        }
    }

    .clients-content {
        flex-direction: row;
        align-items: center;
    }

    .clients__card {
        width: 690px;
        height: 340px;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

    }

    .clients__card-photo {
        width: 193px;
        height: 276px;
    }

    .clients_photo-place {
        width: 193px;
        height: 181px;
    }

    .client1 {
        height: 282px;
        background-size: 191px 285px;
    }

    .client1-mask {
        height: 180px;
        background-size: 191px 181px;
    }

    .client2 {
        height: 280px;
        background-size: 191px 285px;
    }

    .client2-mask {
        height: 180px;
        background-size: 191px 181px;
    }

    .clients__card-content {
        width: 405px;
        justify-content: space-evenly;
    }

    .clients__card-text {
        background-image: url(images/quotation-marks-web.svg);
        font-size: 18px;
        line-height: 30px;
        padding: 27px 0;
    }

    .clients__card-name {
        h4 {
            font-size: 24px;
        }

        p {
            font-size: 14px;
            line-height: 25px;
        }
    }

    .clients__cards.slick-initialized.slick-slider {
        width: 1410px;
    }

    .clients__cards.slick-initialized.slick-slider .slick-track {
        display: flex;
        gap: 30px;
        width: 690px;
    }

    .clients__cards.slick-initialized.slick-slider .clients__card.slick-slide {
        display: flex;
    }


}