.staff-container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    max-width: 375px;
    width: 100%;
    padding: 50px 20px 50px 20px;
    gap: 30px;
    align-items: center
}

.staff-content {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.staff__text {
    text-align: center;
    font-family: Nunito;
    font-style: normal;

    h2 {
        color: #000;
        /* Mobile Font / H1 / Bold */
        font-size: 28px;
        font-weight: 700;
        line-height: normal;
        padding-bottom: 15px;
    }

    p {
        color: $paragraph-color;
        /* Mobile Font/H6/Regular */
        font-size: 14px;
        font-weight: 400;
        line-height: 22px;
    }
}

.social-holder {

    display: none;

    a {
        display: inline-flex;
        background-repeat: no-repeat;
        background-position: center;
        width: 30px;
        height: 30px;
    }
}

.social-btn-google {
    background-image: url(images/Google.svg);

    &:hover {
        background-image: url(images/HoverGoogle.svg);

    }
}

.social-btn-fasebook {
    background-image: url(images/Facebook.svg);

    &:hover {
        background-image: url(images/HoverFacebook.svg);

    }
}

.social-btn-twitter {
    background-image: url(images/Twitter.svg);

    &:hover {
        background-image: url(images/HoverTwitter.svg);

    }
}

.social-btn-pinterest {
    background-image: url(images/Pinterest.svg);

    &:hover {
        background-image: url(images/HoverPinterest.svg);

    }
}

.social-btn-linkedin {
    background-image: url(images/Linkedin.svg);

    &:hover {
        background-image: url(images/HoverLinkedin.svg);

    }
}


.staff__card {
    display: flex;
    width: 330px;
    height: 62px;
    background-repeat: no-repeat;
    text-align: center;
    flex-direction: column;
    gap: 20px;
    justify-content: flex-end;

    border-radius: 5px;
    background: linear-gradient(1deg, #00730C 0.01%, rgba(251, 246, 238, 0.00) 98.84%);
    padding: 10px;

    &:hover {
        height: 408px;
        justify-content: center;
    }

    &:hover .social-holder {
        display: block;

    }
}

.staff__card-content {
    border-radius: 5px;
    content: "";
    width: 330px;
    height: 408px;
    display: flex;
    align-items: end;


    &:hover .staff__card-name {
        justify-content: center;
    }
}

.design1 {
    background-image: url(images/beautiful-woman-apron-posing-among-flowers-orangery.jpg);
}

.design2 {
    background-image: url(images/young-beautiful-florist-posing-smiling-among-flowers.jpg);

}

.design3 {
    background-image: url(images/portrait-happy-professional-gardener-holding-flowerpot-watering-can.jpg);
}

.design4 {
    background-image: url(images/gardeners-with-plants-beautiful-garden-center.jpg);
}

.staff__card-name {
    display: flex;
    flex-direction: column;
    color: $color-white;
    font-style: normal;
    font-family: Nunito;
    line-height: normal;


    h4 {
        /* Mobile Font / H4 / Bold */
        font-size: 18px;
        font-weight: 700;
    }

    p {
        /* Mobile Font/H6/Regular */
        font-size: 14px;
        font-weight: 400;
        line-height: 22px;
    }
}

// =============== web =================
@media (min-width:1410px) {
    .staff-container {
        min-width: 1410px;
        padding: 0;
    }

    .staff__text {
        text-align: left;

        width: 956px;

        h2 {
            font-size: 45px;
            font-weight: 800;
        }

        p {
            font-size: 18px;
            font-weight: 400;
            line-height: 30px;
        }
    }

    .staff-content {
        flex-direction: row;
        gap: 264px;

        align-items: center;
    }

    more-button {
        width: 190px;
    }

    .staff__cards {
        display: flex;
        flex-direction: row;
        gap: 30px;
    }
}
