@import "./variables";

* {
    box-sizing: border-box;
}

body {
    font-family: "Nunito", sans-serif;
    min-width: 375px;
}

.desktop {
    display: none;
}

.color-green {
    color: $main-1-color;
}

a {
    text-decoration: none;
    color: $color-white;
}

@import "./header";
@import "./solution";
@import "./services";
@import "./about";
@import "./choose";
@import "./working";
@import "./staff";