* {
  box-sizing: border-box;
}
body {
  font-family: "Nunito", sans-serif;
}
.bgc-green {
  background-color: #00730c;
}
.bgc-green-dark {
  background: #0c4b35;
}
.bgc-white {
  background-color: #fff;
}
.color-green {
  color: #00730c;
}
.desktop {
  display: none;
}
.mobile {
  display: block;
}
.container {
  max-width: 1410px;
}
header {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.header {
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: space-between;
}
.btn {
  width: 170px;
  height: 50px;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  border: none;
}

.bgi {
  width: 20px;
  height: 20px;
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
}
.email-1 {
  background-image: url(images/email-1.svg);
}
.phone-call-1 {
  background-image: url(images/phone-call-1.svg);
}
.location-1 {
  background-image: url(images/location-1.svg);
}
.arrow-icon-white {
  background-image: url(images/arrow-icon-white.svg);
}
.menu-1 {
  background-image: url(images/menu-1.svg);
}
.phone {
  background-image: url(images/phone.svg);
}
.select {
  display: flex;
  cursor: pointer;
  justify-content: space-between;
  align-items: center;
}
.nav-top {
  width: 100%;
  height: 55px;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  .select {
    width: 52px;
    font-size: 12px;
    .bgi {
      background-size: 9px;
      background-position: right;
    }
  }
}
.nav-address {
  display: flex;
  justify-content: flex-start;
  width: 120px;
  gap: 30px;
}

a {
  font-family: "Nunito", sans-serif;
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
}
.nav-bottom {
  color: #000;
  height: 70px;
  width: 100%;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  img {
    width: 90px;
    height: 40px;
  }
}
.navbar {
  display: flex;
  flex-direction: row-reverse;
  width: 110px;
  height: 34px;
  align-items: center;
  justify-content: space-between;
  .bgi {
    width: 30px;
    height: 30px;
    background-size: 30px;
  }
}

.call {
  display: flex;
  width: 40px;
  height: 34px;
  border-radius: 10px;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  .bgi {
    background-size: 20px;
  }
}

.salutation {
  display: flex;
  flex-direction: column;
  background-image: url(images/BG-Img.svg),
    linear-gradient(
      61deg,
      rgba(0, 115, 12, 0.81) 0.01%,
      rgba(255, 255, 255, 0.404) 75.75%
    );
  background-size: 83px 118px, 100%;
  background-position: bottom left, right;
  background-repeat: no-repeat, no-repeat;
}
.content {
  display: flex;
  flex-direction: column;
  padding-top: 85px;
  padding-bottom: 35px;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  gap: 40px;
}
.text-heading {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.landscape-plainting-services {
  display: flex;
  color: #212529;
  font-weight: 700;
  gap: 0 5px;
  align-items: flex-end;
}
.vector {
  background-image: url(images/Vector.svg);
  width: 24px;
  height: 20px;
}
.color-main-1 {
  color: #00730c;
}
.color-main-2 {
  color: #212529;
}
.color-p {
  color: #212529;
}
h2 {
  display: block;
  font-size: 30px;
  font-family: Nunito;
  font-weight: 800;
}
p {
  font-size: 14px;
  font-family: Nunito;
  line-height: 30px;
}

.Arrow-rigth-Icon {
  background-image: url(images/Arrow-rigth-Icon-green.svg);
}
.button {
  display: flex;
  gap: 19px 0;
  flex-direction: column;
  align-items: center;
  .btn {
    width: 300px;
    height: 40px;
    padding: 12px 105px;
    font-size: 16px;
  }
  a {
    font-size: 18px;
    font-weight: 600;
    line-height: 30px;
    gap: 15px;
    color: #00730c;
  }
}
.row {
  display: flex;
  width: 325px;
  gap: 10px;
  justify-content: flex-end;
}
.fw-bold {
  font-weight: bold;
}
.Happy-Customrs-mob {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 130px;
  height: 30px;
  font-size: 10px;
}
.round-button-gradient {
  border-radius: 32px;
  background: linear-gradient(
    61deg,
    rgba(103, 185, 111, 0.671) 0.01%,
    rgba(255, 255, 255, 0.712) 75.75%
  );
}
//
//
// ===== desktop =========
//
//
@media (min-width: 1410px) {
  .mobile {
    display: none;
  }
  .desktop {
    display: flex;
    .bgi {
      background-size: 12px;
    }
  }
  h2 {
    font-size: 58px;
  }
  p {
    font-size: 18px;
  }
  .arrow-icon-black {
    background-image: url(images/arrow-icon-black.svg);
  }
  .arrow-icon-green {
    background-image: url(images/arrow-icon-green.svg);
  }
  .nav-top {
    width: 100vw;
    height: 60px;
    .select {
      width: 66px;
      font-size: 14px;
      .bgi {
        background-size: 12px;
      }
    }
  }
  .nav-bottom {
    height: 85px;
    .logo img {
      width: 120px;
      height: 55px;
    }
  }
  .nav-address {
    height: 60px;
    width: 747px;
    span {
      padding-left: 10px;
      font-size: 14px;
    }
  }
  .navbar {
    width: 890px;
    flex-direction: row;
  }
  .menu {
    .btn {
      display: none;
    }
    ul {
      width: 627px;
      display: flex;
      justify-content: space-between;
      font-size: 16px;
      font-weight: bold;
    }
  }
  .btn {
    width: 175px;
    height: 60px;
    padding: 13px 35px;
    font-size: 18px;
  }
  .call {
    width: 170px;
    height: 50px;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    gap: 10px;
    .bgi {
      background-size: 30px;
    }
  }
  .salutation {
    flex-direction: row-reverse;
    align-items: center;
    img {
      width: 50%;
    }
    background-size: 197px 278px, 100%;
  }
  .text-heading {
    width: 558px;
  }
  .landscape-plainting-services {
    font-size: 16px;
  }
  .Perfect-Landscape {
    padding: 10px 0 15px 0;
  }
  .color-p {
    color: #676767;
  }
  .content {
    padding-bottom: 100px;
    gap: 50px 0;
  }
  .button {
    gap: 0 30px;
    flex-direction: row;
    .btn {
      width: 175px;
      height: 58px;
      padding: 13px 35px;
      font-size: 18px;
    }
    a {
      color: #676767;
    }
    .Arrow-rigth-Icon {
      background-image: url(images/Arrow-rigth-Icon-gray.svg);
    }
  }
  .row {
    width: 556px;
  }
  .Happy-Customrs-desk {
    gap: 10px;
    display: flex;
    font-size: 16px;
    align-items: center;
    font-weight: 700;
    width: 150px;
  }
  .round-button-gradient {
    width: 75px;
    height: 55px;
    line-height: 55px;
    text-align: center;
    border-radius: 50%;
    background: linear-gradient(
      61deg,
      rgba(0, 115, 12, 0.81) 0.01%,
      rgb(253, 253, 253) 75.75%
    );
  }
}
